@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Redressed&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}

html {
    position: relative;
    min-height: 100%;
}

/* ----------- Header */

img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-left: 5px;
} 

/* ----------- hompage */

#staycation {
    text-align: center;
    margin-bottom: 100px;
    font-family: 'Akaya Telivigala', cursive;
}

.quoateimg {
    height: 115px;
    width: 170px;
    border-radius: 10px;
} 

/* ----------- contact*/

section h3 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: 'Akaya Telivigala', cursive;
}

.contact {
    position: relative;
    text-align: center;
    border: 1px solid grey;
    width: 75%;
}

.contact-element {
    margin: 15px;
    border: 2px solid blue;
    display: inline-block;
    border-radius: 2px;
    width: 60%;
}

input[type=button] {
    height: 50px;
    width: 75px;
    border: 2px solid blue;
    border-radius: 3px;
    background-color: rgb(41, 75, 187);
    opacity: 1;
}

input[type=button]:hover {
    color: whitesmoke;
    transition: 0.3s;
    opacity: .9;
}

/* ----------- places */

#mapid { 
    margin-top: 70px;
    margin-left: 275px;
    margin-right: 275px;
    height: 600px; 
    
    text-align: center;
}

#place {
    height: 75px;
    width: 125px; 
}

@media screen and (max-width: 1250px) {

    #places {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
    #mapid {
        width: 100%;
        margin-top: 40px;
        margin-left: 0px;
        margin-right: 0px;
    }
}

/* ----------- page body*/

body {
    background-image: url("../img/irelandbackground.jpg");
    background-color: #cccccc;
    height: 900px;
}

#quotes{
    color: #fff;
    margin-top: 100px;
}

.quote{
    text-align: center;
}

/* ----------- Footer */

footer{
    height: 75px;
    width: 100%;
    background-color: rgb(53, 65, 228);
    bottom: 0;
    position: absolute;
}

footer ul {
    color: #fff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}

li {
    display: inline;
    text-decoration: none;
}


.footer-element {
    color: rgb(53, 65, 228);
    padding: 5px;
}