*{
    margin:0;
    padding:0;
    border:0;
}

/* ----------- Header */

img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-left: 5px;
} 

li {
    display: inline;
}

li a {
    color: #fff;
    padding: 10px; 
    text-decoration: none;
}

/* ----------- hompage */

#staycation {
    text-align: center;
}

body {
    background-image: url("../img/irelandbackground.jpg");
    background-color: #cccccc;
    height: 900px;
}

/* ----------- Footer */

footer{
    height: 50px;
    width: 100%;
    background-color: rgb(53, 65, 228);
}

footer ul {
    color: #fff;
    text-align: center;
}