@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Redressed&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}

html {
    position: relative;
    min-height: 100%;
}

/* ----------- Header */

.navbar-brand img {
    height: 80px;
    width: 80px;
    border-radius: 50px;
    margin-left: 5px;
} 

/* ----------- hompage */

#staycation {
    text-align: center;
    padding-top: 50px;
    margin-bottom: 100px;
    font-family: 'Akaya Telivigala', cursive;
}

#staycation h4 {
    color: white;
    padding-top: 0;
}

#marker{
    height: 75px;
    width: 50px;
    margin: 15px auto;
    font-size: xx-large;
    transition: 0.5s;
}

#marker:hover{
    transform: scale(1.2);
    transition: 0.5s;
}

.quoateimg {
    height: 145px;
    width: 220px;
    border-radius: 10px;
} 

.name{
    text-align: center;
    transition: 0.5s;
}

.name:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

/* ----------- contact*/

section h4 {
    text-align: center;
    font-size: 35px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Akaya Telivigala', cursive;
}

.contact {
    position: relative;
    text-align: center;
    border: 1px solid grey;
    width: 75%;
}

.contact-element {
    margin: 15px;
    border: 2px solid rgb(191, 191, 231);
    display: inline-block;
    border-radius: 2px;
    width: 60%;
}

#sub {
    height: 50px;
    width: 75px;
    color: rgb(191, 191, 231);
    border: 2px solid rgb(191, 191, 231);
    border-radius: 3px;
    background-color: rgb(67, 95, 185);
    opacity: 1;
}

#sub:hover {
    box-shadow: 0 0 4px rgb(49, 46, 46);
    border: 2px solid rgb(67, 95, 185);
    background-color: rgb(191, 191, 231);
    color: rgb(67, 95, 185);
}

textarea:hover {
    box-shadow: 0 0 4px rgb(49, 46, 46);
    border: 2px solid rgb(12, 9, 9)
}

input[type=submit]:hover {
    background-color: rgb(136, 134, 134);
    transition: 0.3s;
    opacity: .9;
}

/* ----------- gallary */

#gallaryhead {
    font-family: 'Akaya Telivigala', cursive;
    font-size: 35px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.gallary {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.gallary img {
    height: 140px;
    width: 210px;
    border-radius: 2px;
    padding: 5px 5px;
    filter: grayscale(100%);
    transition: 0.5s;
}

.gallary img:hover {
    filter: grayscale(0);
    transition: 0.5s;
    transform: scale(1.1);
}

/* ----------- places */

#places h4 {
    font-family: 'Akaya Telivigala', cursive;
    font-size: 35px;
    padding-top: 50px;
    text-align: center;
}

#mapid { 
    margin-top: 50px;
    margin-left: 275px;
    margin-right: 275px;
    height: 500px; 
    text-align: center;
}

#mapid2 {
    margin-top: 50px;
    margin-left: 275px;
    margin-right: 275px;
    margin-bottom: 75px;
    height: 500px; 
    text-align: center;
}

#tour{
    text-align: center;
    font-family: 'Akaya Telivigala', cursive;
    background-color: rgb(200, 207, 223);
    padding-bottom: 125px;
    padding-top: 0;
    
}

img {
    height: 140px;
    width: 200px;
    border-radius: 5px;
} 

@media screen and (max-width: 1250px) {

    #places {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
    #mapid {
        width: 100%;
        margin-top: 40px;
        margin-left: 0px;
        margin-right: 0px;
    }
}

/* ----------- page body*/

body {
    background-image: url("../img/irelandbackground.jpg");
    background-repeat: no-repeat;
    background-color: #cccccc;
    min-height: calc(100vh -110px -75px);
    padding-bottom: 50px;
    margin-bottom: 50px;
}

#quotes{
    color: #fff;
    margin-top: 100px;
    margin-bottom: 75px;
}

.quote{
    text-align: center;
}

/* ----------- Footer */

footer{
    
    bottom: 0;
    height: 75px;
    width: 100%;
    background-color: rgb(53, 65, 228);
    margin-top: 100px;
    position: absolute;
}

footer ul {
    color: #fff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}

li {
    display: inline;
    text-decoration: none;
}

.footer-element {
    color: rgb(53, 65, 228);
    padding: 5px;
}